.contact-content{
    height:400px;
    height: 60vh;
    background-image: url('../home.svg.jpg');
    display: block;
    margin-top: 15px;
    padding: 9px;
   position: relative;
   margin-left: 120px;
}
.contact-content::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 23vh;
    opacity: 0.20;
}
.form-box input, textarea{
width: 40vw;
margin: 6px 6px;
padding: 7px;;
}
.footer{
height: 60px;
    margin-top: 20px;
    background-color:black;
    display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     flex-direction: column;
    }
    .footer a{
        color: white;
    }